#subirLibro, #subirEvento, #borrarLibro, #borrarEvento, #gestion, #gestionErrores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}

button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;

    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;

    overflow: hidden;
    position: relative;
}

button:enabled:hover {
    background: #0d89ec;
    color: #ffffff;
    border-color: #0d89ec;
}

#drop{
    display: flex;
    align-items: center;
}

#main{
    background-color: #0d89ec;
    padding-bottom: 20px;
    padding-top: 20px;
}

#divButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#main > p{
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/* Botones */

.botoIconos{
    border: none;
    width: 200px;
    height: 200px;
    font-size: 15%;
    border: 1px black solid;
}

.botoIconos:hover{
    width: 190px;
    height: 190px;
    padding: 10px;
}

#botoSubirLibro:hover, #botoBajarLibro:hover, #botoSubirEvento:hover,
#botoBajarEvento:hover, #botoGestion:hover, #botoErrores:hover{
    background-color: #fbff12;
}

#botoSubirLibro{
    background: url('src\assets\images\button\subirLibro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoBajarLibro{
    background: url('src\assets\images\button\bajarLibro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoSubirEvento{
    background: url('src\assets\images\button\subirEv.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}


#botoBajarEvento{
    background: url('src\assets\images\button\bajarEv.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoGestion{
    background: url('src\assets\images\button\gestion.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#botoErrores{
    background: url('src\assets\images\button\ojo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#mat-table{
    width: 100%;
}