<!-- ------ GENERAL ------ -->
<div *ngIf="!subirLibroActivado && !borrarLibroActivado &&
            !subirEventoActivado && !borrarEventoActivado
            && !gestionActivado && !erroresActivado"
             id="main">

    <p>ADMINISTRACIÓN</p>         

    <div id="divButtons">
        <button id="botoSubirLibro" title="Subir Libro" class="botoIconos" (click)="activarSubirLibro()"></button>
        <button id="botoBajarLibro" title="Dar de Baja Libro" class="botoIconos" (click)="activarBorrarLibro()"></button>

        <button id="botoSubirEvento" title="Subir Evento" class="botoIconos" (click)="activarSubirEvento()"></button>
        <button id="botoBajarEvento" title="Borrar Evento" class="botoIconos"  (click)="activarBorrarEvento()"></button>

        <button id="botoErrores" title="Gestión Errores" class="botoIconos" (click)="activarGestionErrores()"></button>
        <button id="botoGestion" title="Gestión Reservas" class="botoIconos" (click)="activarGestion()"></button>
    </div>

</div>

<!-- ------ SUBIR LIBRO ------ -->
<div *ngIf="subirLibroActivado">
  <app-admin-subir-libro></app-admin-subir-libro>
</div>

<!--
<div *ngIf="subirLibroActivado" id="subirLibro">

    <div id="imgSubirLibro">
      <button (click)="atrasDesdeSubir()">Atrás</button>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Título del libro</mat-label>
        <input matInput id="inputTitulo">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre del autor</mat-label>
        <input matInput id="inputAutor">
      </mat-form-field>

      <-- REVISAR 
      <mat-form-field appearance="fill">
        <mat-label>ISBN</mat-label>
        <input matInput id="inputISBN" type="number" maxLength="13" minLength="10"> 
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Editorial</mat-label>
        <mat-hint align="start">(Editorial opcional) </mat-hint>
        <input matInput id="inputEditorial">
      </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Selecciona Categoria</mat-label>
            <mat-select (selectionChange)="categoriaCambiada($event.value)">
                <mat-option *ngFor="let cat of categorias" [value]="cat.value">
                    {{cat.viewValue}}
                </mat-option>
            </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Selecciona Tipo</mat-label>
            <mat-select (selectionChange)="tipoCambiado($event.value)">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                    {{tipo.viewValue}}
                </mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field id="matIdioma" appearance="fill">
        <mat-label>Selecciona Idioma</mat-label>
            <mat-select (selectionChange)="idiomaCambiado($event.value)">
                <mat-option *ngFor="let idioma of idiomas" [value]="idioma.value">
                    {{idioma.viewValue}}
                </mat-option>
            </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nº Páginas</mat-label>
        <mat-hint align="start">(nº páginas opcional) </mat-hint>
        <input matInput type="number" id="inputPaginas"> 
      </mat-form-field>

      <-- <input type="file" (change)="fileCambiado($event)" aria-label="Inserte Imagen Portada" id="inputFile"> 

      <div class="center" id="drop">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              Arrastra aquí la imagen de la portada o 
              <button type="button" (click)="openFileSelector()">Selecciona desde Archivos</button>
            </ng-template>
        </ngx-file-drop>
        <div class="upload-table">
            <table class="table">
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

      <button id="botonSubir" pButton pRipple type="button" label="Subir Libro" (click)="clickSubirLibro()"></button>
</div>
-->

<!-- ------ BORRAR LIBRO ------ -->
<div *ngIf="borrarLibroActivado" id="borrarLibro">
    <div id="imgBajarLibro">
      <button (click)="atrasDesdeBorrar()">Atrás</button>
    </div>

    <mat-spinner *ngIf="!cargado"></mat-spinner>

    <mat-form-field appearance="standard">
      <mat-label>Filtrar por ISBN</mat-label>
      <input matInput type="number" (keyup)="applyFilter($event)" placeholder="Ex. 9788408061052" #input>
    </mat-form-field>

    <button (click)="clickBorrarLibro()">Borrar {{aplicarNombreEstetico(filaABorrar?.titulo)}}</button>

    <table mat-table id="mat-table" [dataSource]="libros" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="título">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.titulo)}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="autor">
          <th mat-header-cell *matHeaderCellDef> Autor </th>
          <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.autor)}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="isbn">
          <th mat-header-cell *matHeaderCellDef> ISBN </th>
          <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.isbn)}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="editorial">
          <th mat-header-cell *matHeaderCellDef> Editorial </th>
          <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.editorial)}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="filaClick(row)" [ngClass]="{'filaSeleccionada': filaABorrar == row}" *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>


<!-- ------ SUBIR EVENTO ------ -->
<div *ngIf="subirEventoActivado" id="subirEvento">

  <div id="imgSubirEv">
      <button (click)="atrasDesdeSubirEv()">Atrás</button>
  </div>

    <mat-form-field appearance="fill">
        <mat-label>Título del evento</mat-label>
        <input matInput id="inputTituloEv">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descripción del evento</mat-label>
        <input matInput id="inputDescrip">
      </mat-form-field>

      <div class="center" id="drop">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              Arrastra aquí la imagen del evento o 
              <button type="button" (click)="openFileSelector()">Selecciona desde Archivos</button>
            </ng-template>
        </ngx-file-drop>
        <div class="upload-table">
            <table class="table">
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
       </div>

        <button id="botonSubirEv" pButton pRipple type="button" label="Subir Evento" (click)="clickSubirEvento()"></button>
</div>

<!-- ------ BORRAR EVENTO ------ -->
<div *ngIf="borrarEventoActivado" id="borrarEvento">

    <div id="imgBajarEv">
      <button (click)="atrasDesdeBorrarEv()">Atrás</button>
    </div>

    <button (click)="clickBorrarEvento()">Borrar {{aplicarNombreEstetico(idABorrar)}}</button>

    <table mat-table id="mat-table2" [dataSource]="eventos" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.nombre)}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{nombreAMayus(element.descripcion)}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEv"></tr>
        <tr mat-row (click)="filaEvClick(row)" [ngClass]="{'filaEvSeleccionada': filaEvABorrar == row}" *matRowDef="let row; columns: displayedColumnsEv;"></tr>
      </table>
    
</div>

<!-- ------ GESTION RESERVAS------ -->
<div *ngIf="gestionActivado" id="gestion">

    <div id="imgGestionRes">
      <button (click)="atrasDesdeGestion()">Atrás</button>
    </div>

    <div id="inputNewUser">
      <mat-form-field appearance="fill">
        <mat-label>ID del usuario</mat-label>
        <input matInput [(ngModel)]="valorInputUser" id="inputNombreUser">
      </mat-form-field>
      <button ngDefaultControl  (click)="buscarUsuario()">Buscar</button>
    </div>

    <p *ngIf="usuarioEncontrado == false">Usuario no encontrado</p>
    <p *ngIf="usuarioEncontrado == true" >Usuario encontrado ({{resUsuario.email}}) </p>

    <p>Consultar Disponibilidad:</p>

    <div id="inputNewReserva">
      <mat-form-field appearance="fill">
        <mat-label>ISBN del libro</mat-label>
        <input matInput type="nunmber" [(ngModel)]="valorInputGR" id="inputISBNReserva">
      </mat-form-field>
      <button (click)="buscarDisponibilidadLibro()" [disabled]="valorInputGR === '' || !valorInputUser">Buscar</button>
    </div>

    <div *ngIf="existeLibro == false">
      <p>No está disponible</p>
    </div>

    <div *ngIf="existeLibro == true">
      <p>{{resDisponibilidad.estado}}</p>
      <p>{{resDisponibilidad.localizacion}}</p>
    </div>

    <div id="hayResDisponibilidad" *ngIf="resDisponibilidad"> 
      <!-- Disponibilidad -->
      <!-- PEDIR LIBRO -->
      <button *ngIf="resDisponibilidad.estado == 'Disponible' && resDisponibilidad.localizacion == 'En Biblioteca' "
              (click)="pedirLibro(valorInputGR)" [disabled]="valorInputUser === '' || !valorInputUser
                                                              && valorInputGR === '' || !valorInputGR">
        Pedir
      </button>

      <button *ngIf="resDisponibilidad.estado == 'No Disponible' && resDisponibilidad.localizacion == 'En Biblioteca' "
              (click)="seHaDevuelto(valorInputGR)">
        Se ha Devuelto
      </button>

      <!-- RESERVAR LIBRO -->

      <!-- PEDIR TRANSPORTE LIBRO -->
    <div>

</div>

<!-- ------ GESTION ERRORES ------ -->
<div *ngIf="erroresActivado" id="gestionErrores">
    <button (click)="atrasDesdeErrores()">Atrás</button>
    <p>GESTION ERRORES</p>
</div>
