<app-header></app-header>
<div id="main" *ngIf="libroSeleccionado">
  <div id="divImagen">
      <img src="{{libroSeleccionado.portadaImgPath}}">
  </div>

  <div id="divDetalles">
      <p>{{libroSeleccionado.titulo}}</p>
  </div>

</div>

<div id="error" *ngIf="!libroSeleccionado">
  <img src="../assets/images/principales/aliens.png">
  <p id="tituloErr">Oh no! Parece que los aliens han abducido el libro que querias mirar</p>
  <p>Debes volver atrás y seleccionarlo otra vez. Espero que ya se hayan ido cuando vuelvas...</p>
  <button>Volver atrás</button>
</div>

